/*  css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    height:100vh;
    width:100%;
    background-color:rgb(240, 250, 253);
}
a{
    color:inherit;
    text-decoration:none
}

/* navbar-styles */

.navbar-container{
    height:100px;
    width:100%;
    background-color:rgb(208, 240, 249);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
}
.logo img{
    width:60px;
    height:60px;
    color:white;
    cursor:pointer;
}
.nav-links a{
    margin:5px 10px;
    font-weight:600;
    border:1px solid rgb(255, 255, 255);
    padding:10px 15px;
    border-radius:8px;
    background-color:rgb(41, 120, 248);
    color:white;
    transition:0.2s;
}
.nav-links a:hover{
    background-color:white;
    color:rgb(41, 120, 248);
    border:1px solid rgb(41, 120, 248);
}

/* hero - container */

.hero-container{
    height:calc(100vh - 100px);
    width:100%;

}
.hero-container h1{
    font-size:50px;
    text-align:center;
    margin-top:100px;
    color:rgb(236, 244, 27);
    -webkit-text-stroke: 2px rgb(41, 120, 248);
}
.hero-container p{
    text-align:center;
    padding:10px 50px;
    width:70vw;
    margin:20px auto;
    color:rgb(94, 93, 93);
}
.btn-container{
    display:flex;
    justify-content:center;
}
.btn-container button{
    padding:10px 30px;
    font-size:18px;
    font-weight:800;
    border-radius:8px;
    background-color: rgb(41, 120, 248);
    color:white;
    cursor:pointer;
    outline:none;
    border:none;
    transition:0.2s

}
.btn-container button:hover{
    background-color: rgb(239, 241, 244);
    color:rgb(41, 120, 248);
    border:1px solid rgb(41, 120, 248);
}