body{
    height:100vh;
    width:100vw;
    text-align:center;
    background-color:#ede9cd;
}
h1{
    color:rgb(52, 147, 247)
}


#employee-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
/* Employee Card */
.employee-card {
    width: 320px;
    padding: 16px;
    background-color: #ffffff;
    text-align: left;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Hover Effect */
  .employee-card:hover {
    background-color: rgb(251, 215, 192);
    border:3px solid rgb(200, 168, 123);
    color: #483939;
    cursor: pointer;
    transform: scale(1.02);
  }
.employee-card {
    height:40%;
    width:60%;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    line-height:2;
    border-radius: 8px;
    background-color: rgb(246, 226, 226);
    color:rgb(96, 64, 20)
  }
  
  .action-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .edit-btn {
    padding: 6px 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-btn {
    padding: 6px 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-btn:hover {
    background-color: #115293;
  }
  
  .delete-btn:hover {
    background-color: #9a0007;
  }